body{
    background-color: #BBC2E2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.chooserButtons{

}
.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    font-family: "Courier New", monospace;
}
.chooserButtons{
    margin-right: 100px;
    font-weight: bold;
}
.button{
    color: black;
    font-size: 100%;
    font-family: "Courier New", monospace;
    font-weight: bold;
    text-align: center;
    padding: 1% 2%;
    margin: 2%;
    background: white;
    cursor: pointer;
    border-radius: 10px;
}
.button:hover {
    background: #847979;
}